$font_size-base: 16px;
$font_size-xsmall: .75rem;    // 12px
$font_size-small: 1rem;       // 16px
$font_size-medium: 1.125rem;  // 18px
$font_size-large: 1.5rem;     // 24px
$font_size-xlarge: 2.25rem; // 36px

$break_xsmall: 500px;
$break_small: 980px;
$break_medium: 1024px;
$break_large: 1440px;
$break_xlarge: 1920px;

$border_dark: #000;
$footer-background-color: #534596;
$footer-color: #fff;
$button-color: #691ed9;
$body_font: #707070;

$site_stroke_color_p2: blue;
$site_fill_color_p2: blue;

$site_stroke_color_p1: rgb(138, 62, 219);
$site_fill_color_p1: rgb(138, 62, 219);

$site_stroke_color_p3: rgb(200, 50, 197);
$site_fill_color_p3: rgb(200, 50, 197);

$site_stroke_color_p4: rgb(218, 47, 84);
$site_fill_color_p4: rgb(218, 47, 84);

$site_selected: rgb(212, 0, 255);

$phase-btn-color-toggled : #691ed9;